html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
}


#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.title-text-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: larger;
}

/* Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Features Controls */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

#features h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#features p {
    color: #8f8f8f;
}

#features .fa-solid {
    font-size: 3rem;
    color: #ff4c68;
    transition: 0.3s;
    padding-bottom: 5%;
}

#features .fa-solid:hover {
    color: #971f1f;
    opacity: 1;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

#testimonials h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color:#ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.pricing-col {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}


#cta h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}


/* Fotter Section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }

    .title-text-h1 {
        font-size: 2.5rem;
    }

    #testimonials h2 {
        font-size: 2rem;
    }
}